* {
    margin: 0;
    padding: 0;
}

/* DIV style */

.nav-div {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px;
}

.menu-items ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
}

.menu-items a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.menu-toggle-btn {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.contact-btn {
    background-color: #E91E63;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .nav-div {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 90vw;
    }

    .menu-items ul {
        flex-direction: column;
        gap: 10px;
    }

    .contact-btn {
        margin-left: auto;
        margin-top: 8px;
        height: 12px;
        mix-blend-mode: darken;
        background-color: #FFFFFF;
        background-image: url('./Resources/icons8-contact-24.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .contact-btn p {
        display: none;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .menu-toggle-btn {
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
    }

    .menu-items.active {
        margin-left: auto;
        display: block;
    }

    .menu-toggle-btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: #fff;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .menu-toggle-btn:hover {
        background-color: #f0f0f0;
        border-color: #777;
    }

    .menu-icon {
        width: 24px;
        height: 2px;
        background-color: #333;
        position: relative;
        transition: transform 0.3s, opacity 0.3s;
    }

    .menu-toggle-btn.active .menu-icon {
        transform: rotate(45deg);
    }

    .menu-toggle-btn.active .menu-icon::before,
    .menu-toggle-btn.active .menu-icon::after {
        transform: rotate(-90deg);
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        transition: transform 0.3s, opacity 0.3s;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: -8px;
    }

}


/* Home Page Style */

.home-page {
    background-color: antiquewhite;
    height: 100%;
}

.content-1 {

    background-image: url(./Resources/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: flex-start;
}


.tagline {
    color: #fff;
    margin-left: 7%;
    width: 200px;
    font-size: 1.55em;
    display: block;
}

.tagline p span {
    color: brown;
}

.book-btn {
    background-color: #E91E63;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    align-items: flex-start;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content-1 {
        background-position: center center;
    }

}


/* Book now div .css */
/* .container {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
  } */


.animated-div {

    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10%;
    width: 30vw;
    height: 80vh;
    left: 100px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
}

.animated-div-overflow-hidden {
    overflow: hidden;
}



.close-btn {
    background-color: #e0e0e0;
    border-radius: 50%;
    color: black;
    /* padding: 2px; */
    border: none;
    cursor: pointer;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .close-icon {
        padding: 1px;
        width: 25px;
        height: 18px;
        transform-origin: center;
        /* Set the transform origin */
        transition: transform 0.3s ease;
    }

    .close-icon:hover {

        transform: rotateZ(90deg);
        /* Apply initial hover rotation */
    }

}






@keyframes slideIn {
    from {
        opacity: 1;
        transform: translatex(-200px);

    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}



.slide-in {
    animation: slideIn 0.5s ease;
}

.slide-out {
    animation: slideOut 0.3s ease;
}



.header-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    width: 100%;
    /* Ensure children take full width */
}

.book-header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.animated-div .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;

}

.animated-div .cards .card-0 {

    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: large;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: default;
    justify-content: center;
}

@media (min-width: 768px) {
    .card-0 {
        width: calc(50% - 25px);
        /* Calculate width for 2 cards with gap */
    }
}

.expanded-card {
    /* background-color: red; */
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: -100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* height: 100%; */
    background-color: white;
    transform: translateX(100px);
    animation: slideIn2 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-bottom: 20px;

}

.hidden {
    display: none !important;
}

@keyframes slideIn2 {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(100px);
    }
}

.service-cards {
    display: flex;
    overflow: auto;
    color: black;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    gap: 50px;
    row-gap: 20px;

    height: fit-content;
}

.service-card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: large;
    font-weight: 700;
    cursor: default;
}

.service-name {

    padding: 20px;
    margin-left: 30px;
    font-size: large;
    font-weight: 700;
    cursor: default;

}

.service-price {
    position: relative;
    background-color: #a7d4c2;
    margin-left: auto;
    align-self: flex-end;
    font-size: large;
    font-weight: 700;
    margin-bottom: 30px;
    border-radius: 5px;

}


.clicked-div-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-size: small;
    position: relative;
    bottom: 0;
    background-color: white;
    z-index: 1;
    border-radius: 15px;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-left: -20px;
    margin-top: auto;
    bottom: 0;
    padding: 20px;
    margin-bottom: -20px;


    animation-name: slideUp;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    /* Keeps the final state of the animation */
    opacity: 0;
    /* Start with opacity 0 */
    height: 100%;

}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}



.clicked-div-content-active {
    /* Final state when active class is added */
    transform: translateY(calc(100% - 60px)) !important;
    opacity: 1;
}




.clicked-div-content-header {
    display: flex;
    justify-content: space-between;
    gap: 300px;

}

.clicked-div-content-header h2 {
    margin-right: auto;
    /* padding: 10px 0 10px 20px; */

}

.clicked-div-content-header button {
    margin-left: auto;


}

/* crousel */

/* .crousel-div {
    width: 90%;
   overflow: hidden;
    position: relative; 
    margin: auto; 
    padding-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden !important;

} */







/*  */

/* Additional styling for the SVG and progress indicator */

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    /* min-height: 60px; */
    min-width: 0;
    outline: none;
    /* padding: 2px 4px; */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30px;
    height: 30px;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}


/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.array-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    background-color: white;
}

.content-1-style {
    background-color: whitesmoke;
    font-size: larger;

}

.content-2-style {
    background-color: whitesmoke;
    font-size: medium;
}

.content-3-style {
    background-color: whitesmoke;
    font-size: medium;

}

.pricing {
    background-color: #17a66d;
}

.array-info-left {
    /* margin-left: 300px;  */
    align-self: flex-start;

}

.array-info-right {
    margin-left: auto;
}

.service-card-1.clicked {
    background-color: grey;

}

.split-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-part {
    position: absolute;
    font-size: larger;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.16);
    margin-bottom: 50px;
    top: 40%;
    right: 20px;
}


.choose-time {
    width: 100px;

}

.choose-time-div {
    /* background-color: #000000; */
    /* width: 500px; */
    /* margin-left: -20px; */
    /* height: 700px; */
    z-index: 1;
    color: #000000;

}

.date-picker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

.date-picker-mini-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 10px 50px;
    font-size: large;
    font-weight: 700;
}

.date-picker-mini-body {
    font-size: medium;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mini-date-day:hover {
    cursor: pointer;

}

.mini-date {
    font-size: small;
    color: white;
    background-color: #1E3722;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.activeDay {
    background-color: #1E3722;
    color: white;
    box-shadow: 0 0 0 2px white, 0 0 0 4px green;


    /* Add your desired styling for active days here */
}

.mini-date:hover {
    background-color: #2E6C3D;
    /* A more noticeable shade */

}

.react-calendar {
    border: 0px !important;
    background-color: #84e1bc29 !important;
    border-radius: 5% !important;
}

.react-calendar__month-view__weekdays abbr {
    font-size: small !important;
    text-decoration: none !important;

}

.react-calendar__month-view__days__day {
    border-radius: 50% !important;
}

.react-calendar__navigation {
    margin: 0 !important;
}

.toggle-calander {
    width: 30px;
    height: 30px;
    padding-bottom: 14px;
}

.Time-slots-header {
    margin-right: auto;
    display: flex;
    width: fit-content;

    background-color: white;
    width: 80%;
    justify-content: space-between;
    padding: 20px 40px;
}

.Time-slots-header-text {
    font-size: medium;
    font-weight: 700;
    flex: 1;
    /* Make the left div flexible to take available space */
    color: grey;
}

.selected-date {
    font-size: large;
    font-weight: 700;
    flex: 1;
    /* Make the left div flexible to take available space */
    text-align: right;
    /* Align the text to the right */
    color: #000000;
}

.Time-slots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-size: medium;
    font-weight: 650;
    margin-bottom: 50px;
}

.time-slot-card {
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10%;
    padding: 7px 5px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.CartPush {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: #000000;
    animation-name: slideInFromBelow;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    z-index: 3;
    bottom: 100px;
    left: 40%;
}

@keyframes slideInFromBelow {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.add-more-div {
    padding: 5px 10px;
    background-color: #E91E63;
    border-radius: 10px;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
}

.real-hero {
    background-color: #0e3510;
    width: 500px;
    height: 500px;
}


/* CSS */
.button-48 {

    width: 80%;
    border-radius: 15px;
    appearance: none;
    /* background-color: #FFFFFF; */
    background-color: #2E7D32;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    margin-bottom: 20px;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

}

.button-48:before {
    border-radius: 15px;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    /* background-color: #EBEBEB; */
    background-color: #1B5E20;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    border-radius: 15px;
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}

.button-48:active {
    border-radius: 15px;
    /* Change the background color to your desired shade of green or olive when clicked */
    background-color: #1B5E20;
    /* Change this color to your preferred shade */
}

.button-48::after {
    border-radius: 15px;
    /* Add a cool animation for when the button is clicked */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(24, 99, 55, 0.5); */
    background-color: #0e3510;
    /* Change this color to your preferred shade */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.button-48:active::after {
    /* Make the overlay appear when the button is clicked */
    opacity: 1;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

/* For WebKit-based browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
    width: 5px;

}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;

}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 50px 0 20px 0 !important;
}

.content-2 {
    background-color: #fff;
}

.content-2 h1 {
    padding: 1em;
}

.cards {
    padding-top: 10px;
}

.card-left {
    display: flex;
    justify-content: center;
}

.card-right {
    display: flex;
    justify-content: center;
}

.card-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 180px;
}

.card-1 .card-img {
    margin-right: 100px;
    background-image: url('./Resources/Rectangle\ 77.svg');
}

.card-2 .card-img {
    margin-left: 100px;
    background-image: url('./Resources/Rectangle\ 78.svg');
}

.card-3 .card-img {
    margin-right: 100px;
    background-image: url('./Resources/Rectangle\ 79.svg');
}

.card-4 .card-img {
    margin-left: 100px;
    background-image: url('./Resources/Rectangle\ 80.svg');
}

.card-5 .card-img {
    margin-right: 100px;
    background-image: url('./Resources/Rectangle\ 81.svg');
}

.card-6 .card-img {
    margin-left: 100px;
    background-image: url('./Resources/Rectangle\ 82.svg');
    margin-bottom: 50px;
}

.card-info-left {
    text-align: justify;
    font-size: 1.3em;
}

.card-info-right {
    text-align: end;
    font-size: 1.3em;
}

@media (max-width: 768px) {

    .card-left,
    .card-right {
        flex-basis: 100%;
        margin: 0;
    }

    .card-left {
        order: 2;
    }

    .card-right {
        order: 1;
    }

    .card-1 .card-img,
    .card-2 .card-img,
    .card-3 .card-img,
    .card-4 .card-img,
    .card-5 .card-img,
    .card-6 .card-img {
        margin: 0 auto;

    }

    .card-6 .card-img {
        margin-bottom: 20px;
    }

    .card-info-left,
    .card-info-right {
        text-align: center;
    }


    .content-2 h1 {
        padding: 1.2em;
        font-size: large;
    }

    .content-2 p {
        font-size: medium;
    }
}



/* content-3 */

.content-3 {
    background-color: bisque;
    display: flex;
    align-items: center;
    height: 100vh;
}

.content-3-img {
    background-image: url('./Resources/Rectangle\ 15.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 80vh;
    margin-left: 10%;
    border-radius: 5%;
}

.content-3-info {
    text-align: start;
    padding: 5%;
}

.content-3-info h1 {
    text-align: center;
    padding-bottom: 20%;
    margin-bottom: 10%;
}

.content-3-info p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .content-3 {
        flex-direction: column;
        height: auto;
    }

    .content-3-img {
        width: 80%;
        height: 40vh;
        margin: auto;
    }

    .content-3-info {
        width: 80%;
        text-align: center;
    }
}



/* content-4 */

.content-4 {
    background-color: rgba(0, 0, 0, 0.518);

    margin-bottom: 0px;
}

.content-4 h1 {
    padding: 80px 0 100px 0;
}

/* new carousel */
/* Carousel container */
.carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 -10px;
    /* width: calc(100% + 20px); */
    width: 75%;
    padding-bottom: 100px;
}

.carousel-card {
    flex: 0 0 30%;
    margin: 0 10px;
    
   
    /* background-color: #fff; */
   background-color: rgba(0, 0, 0, 0.518);

    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    max-width: 360px;
    max-height: 360px;

}
.carousel-card img{
    border-radius: 15px;
}

.carousel-card.active {
    transform: scale(1.03);
    /* Zoom in effect for active card */
    filter: brightness(1.2) blur(0px);
    /* Adjust brightness and blur for active card */
    max-width: 360px;
    max-height: 360px;
    border-radius: 15px;
    padding-top:  5px;
}

.carousel-card:not(.active) {
    filter: brightness(0.8) blur(1.5px);
    /* Adjust brightness and blur for non-active cards */
    max-width: 360px;
    max-height: 360px;
    border-radius: 5px;
}

.content {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
}

.carousel-card.active .content {
    display: block;
}

.prev-button,
.next-button {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    font-size: 34px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.prev-button {
    left: 35%;
    z-index: 1;
}

.next-button {
    right: 35%;

}
/* Show the buttons when hovering over the carousel */
.carousel-container:hover .prev-button,
.carousel-container:hover .next-button {
    opacity: 1;
    visibility: visible;
  
}

/* Define a CSS class to hide the vertical scrollbar */
::-webkit-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    overflow-y: scroll; /* For other browsers */
    width: 1px;
  }
  

  



/* content-5 */

.content-5 {
    height: fit-content;
    background-color: #fff;
    width: 100%;

}

.content-5 h1 {
    position: relative;
    padding-top: 150px;
}

.content-5 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    flex-wrap: wrap;

}

.content-5 ul li {
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.content-5 ul li:hover {
    background-color: #17a66d;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .list-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-details li {
        margin: 5px;
    }

    .list-details div {
        width: 95%;

    }

    .book-slot-btn {
        margin-top: 10px;
    }
}

.list-details {
    width: 90vw;
    margin: auto;
    text-align: center;
}

.detail-1 {
    padding: 20px;
    width: 70vw;
    margin: auto;
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.list-detail-heading {
    font-size: medium;
    font-weight: 600;
}

.book-slot-btn {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #E91E63;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-slot-btn:hover {
    background-color: #C2185B;
}

.selected {
    background-color: #84E1BC;
    color: black;
}


/* Content-6 */

.content-6 {
    background-color: #fff;

}

.content-6-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-6-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.content-6 .img1 {
    background-image: url('./Resources/Ellipse\ 14.png');
    width: 100px;
    height: 100px;
}

.content-6 .img2 {
    background-image: url('./Resources/Ellipse\ 14.png');
    width: 100px;
    height: 100px;
}

.content-6 .img3 {
    background-image: url('./Resources/Ellipse\ 14.png');
    width: 100px;
    height: 100px;
}

.content-6 .img4 {
    background-image: url('./Resources/Ellipse\ 14.png');
    width: 100px;
    height: 100px;
}


.alice-carousel__prev-btn {
    transform: translate(-2050%, -510%);
    margin: 0;
    width: 20px !important;
}

.alice-carousel__next-btn {
    transform: translate(4000%, -425%);
    width: 10px !important;
}

.alice-carousel__prev-btn-wrapper {
    width: 30px;
    height: 30px;
    color: #fff !important;
}

.alice-carousel__prev-btn-wrapper {
    width: 30px !important;
    height: 30px !important;

}

.alice-carousel__prev-btn-item {
    background-image: url('./Resources/left-Vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px !important;
    height: 30px !important;
}

.alice-carousel__prev-btn-item span {
    color: #ffffff00;
}

.alice-carousel__next-btn-item {
    background-image: url('./Resources/right-Vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px !important;
    height: 30px !important;
}

.alice-carousel__next-btn-item span {
    color: #ffffff04;
}

.content-6 h1 {
    padding: 50px;
}

.content-6-card {
    margin: 50px auto;
    border-radius: 10px;
    background-color: #84E1BC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 50px;
}

.content-6-img {
    /* background-image: url('./Resources/Ellipse\ 14.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .alice-carousel__prev-btn {
        transform: translate(-850%, -510%);
        margin: 0;
        width: 20px !important;
    }

    .alice-carousel__next-btn {
        transform: translate(1300%, -425%);
        width: 10px !important;
    }
}



/* content-7 */
.content-7 {
    background-color: #fff;
}

.content-7 h1 {
    padding: 100px;
    margin-bottom: -350px;
}

.content-7 .shape {
    background-image: url('./Resources/Component\ 103.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    transform: translate(180%, 220%);
}

.shape2 {
    transform: translate(470%, 250%) !important;
}

.content-7 .img1 {
    background-image: url('./Resources/Rectangle\ 84.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    background-position: center center;
    margin: auto;
}

.content-7 .img2 {
    background-image: url('./Resources/Ellipse\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    transform: translate(110%, -380%);
}

.content-7 .img3 {
    background-image: url('./Resources/Rectangle\ 85.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 150px;
    margin: auto;
    transform: translate(-90%, -150%)
}

@media (max-width: 768px) {
    .content-7 .shape {
        transform: translate(0%, 220%);
        width: 120px;
        height: 120px;
        z-index: 1;
        mix-blend-mode: darken;

    }

    .shape2 {
        transform: translate(200%, 250%) !important;
        /* z-index: -1; */
        /* mix-blend-mode:darken; */
    }

    .content-7 .img1 {
        width: 210px;
        height: 350px;
    }

    .content-7 .img2 {
        width: 100px;
        height: 100px;
    }

}


/* content-8 */

.content-8 {
    height: 40vh;
    width: 100%;
}


/* content-9 */

.content-9 {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 150px;
    padding-bottom: 100PX;
}

.content-9 div h2 {
    padding: 20px;
}

.content-9 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icons {
    width: 20px;
    height: 20px;
    padding: 0;
}

.content-9 table {
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 5%;
    padding: 15px 0 15px 0;
    font-weight: 610;
}

.content-9 table th {
    padding: 10px;
    /* width: 100%; */
    border-bottom: 1px solid black;
    padding-left: 0;
    padding-right: 0;

}

.content-9 table td {
    padding: 0 10px;
}



.lines {
    display: flex;
    gap: 110px;
    margin-left: 52px;
    transform: translate(0, 45%);
}

.lines table {
    width: 0.5px;
    border-spacing: 0.8px;
    background-color: black;
    height: 35px;
    border: 0;
    padding: 0;
}

Carousel {
    height: 50vh;
}

@media (max-width: 768px) {
    .content-9 {
        flex-wrap: wrap;
    }
}



/* Testing */

@media(max-width : 768px) {
    .nav-div {

        width: 100vw;
    }


}